.app-home {
  height: 100%;
}

.main-menu-wrapper {
  height: 100%;

  @media (min-width: 769px) {
    display: none;
  }
}

.home-content {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;

  h1 {
    font-size: 2em;

    color: rgb(80, 80, 80);
  }

  svg:global(.icon) {
    height: 20em;

    color: rgb(220, 220, 220);
  }

  @media (max-width: 768px) {
    display: none;
  }
}