.app-layout {
    height: 100vh;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "sidebar main";

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "main";
    }
}

.sidebar {
    grid-area: sidebar;

    width: 250px;

    overflow-y: auto;

    background: rgb(240,240,240);
    border-right: 1px solid rgb(220,220,220);

    @media (max-width: 768px) {
        display: none;
    }
}

.main {
    grid-area: main;

    overflow-y: auto;
}