.app-layout {
    height: 100vh;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "sidebar main";
}

.sidebar {
    grid-area: sidebar;

    overflow-y: auto;

    background: lightgray;
}

.main {
    grid-area: main;

    overflow-y: auto;
}