.main-sidebar {
  height: 100%;

  padding-top: 20px;

  overflow-y: auto;

  background: rgb(240,240,240);
  border-right: 1px solid rgb(220,220,220);

  menu {
    list-style: none;
    padding: 0;

    li a {
      display: flex;
      align-items: center;

      gap: 10px;
      padding: 10px 20px;

      color: purple;
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;

        background: rgb(220,220,220);
      }

      &:global(.active) {
        color: rgb(220,220,220);
        background: purple;
      }

      svg:global(.icon) {
        height: 1em;
      }
    }
  }

  .home-link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 150px;

    font-size: 1.5em;
    text-align: center;

    svg:global(.icon) {
      height: 3em;
    }

    &:global(.active) {
      color: purple;
      background: initial;
    }
  }

  .sub-menu {
    margin-top: 20px;

    header {
      padding: 10px 20px;

      color: rgb(80, 80, 80);
    }
  }
}