.item-tile {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.thumbnail {
    max-width: 150px;

    aspect-ratio: 1;
    object-fit: contain;
}

.name {
    text-align: center;
}