.item-tile {
  display: block;

  height: 100%;

  color: initial;
  text-decoration: none;

  transition: scale 0.2s ease-in-out;

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
  }

  &:focus,
  &:hover {
    scale: 1.1;

    text-decoration: underline;
  }
}

.thumbnail {
  flex: 1;

  max-width: 150px;
  min-height: 150px;

  aspect-ratio: 1;
  object-fit: contain;
}

.name {
  flex: none;

  height: 2.5em;

  line-clamp: 2;

  @supports not (line-clamp: 2) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  overflow: hidden;

  text-align: center;
}
